<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	title Document
	link(href="../owl-carousel/owl.carousel.min.css" rel="stylesheet")
	link(href="../owl-carousel/owl.theme.default.min.css" rel="stylesheet")
	script(src="../node_modules/jquery/dist/jquery.min.js")
	script(src="../owl-carousel/owl.carousel.min.js")
	link(href="../node_modules/normalize.css/normalize.css" rel="stylesheet")
	link(href="css/main.css" rel="stylesheet")
	script(src="js/main.js")
body
	.main-wrapper
		.left
			h1.left__header
				| CREATIVE
				br
				| TECHNOLOGY
			p.description
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
			p.description
				| Etiam sit amet tincidunt urna, et lacinia leo. Ut placerat leo nisl, at congue mi congue molestie. Vivamus bibendum nulla in quam convallis 
			.slogan
				| Design,  Creative,  Work,  How to
			.divider
			a(href="work.html").work-page__link
				| NEXT PIECE OF WORK
		.right
			#owl-main-slider.owl-carousel.owl-theme
				.item
					img(src="../images/table.jpg")
					.item__text
						| You're GODDAMN right about train wreck
				.item
					img(src="../images/table.jpg")
					.item__text
						| You're GODDAMN right about train wreck
				.item
					img(src="../images/table.jpg")
					.item__text
						| You're GODDAMN right about train wreck